body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #06402b;
    color: white;
    padding: 0.5em 1em;
  }
  
  .logo {
    font-size: 1.5em;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 1em;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .hamburger span {
    background: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
  }
  
  html
{
	padding: 0 1em;
	font-family: Calibri, sans-serif;
}
 
.cd__main{
    max-width: 720px !important;
}
 
img {
  
  border-radius: 50px;
  border-color:  #87CEEB;
}

 
.image-left, .image-right
{
  
	margin: 1em 0;
}
 
@media (min-width: 20em)
{
	.image-left, .image-right
	{
		display: flex;
		align-items: top;
	}
 
	.image-left img
	{
 
		margin-right: 1em;
		float: left; 
	}
 
	.image-right img
	{
		order: 1;
		margin-left: 1em;
		float: right; 
	}
	
	
	.image-left::after,
	.image-right::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}
 
@media (min-width: 30em)
{
	.image-left img, .image-right img
	{
		flex-shrink: 0;
	}
}

input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=tel], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}